<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!--app-data-->
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">

    <div class="container mx-auto p-4">
        <header class="mb-6">
            <h1 class="text-4xl font-bold text-gray-800 text-center">Crypto Dashboard</h1>
        </header>

        <!-- Watched Assets Section -->
        <section class="mb-8">
            <h2 class="text-2xl font-semibold text-gray-700 mb-4">Watched Assets</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

                <% watchedAssets.forEach(asset=> { %>
                    <div
                        class="bg-white shadow-lg rounded-lg p-6 flex items-center justify-between hover:shadow-xl transition-shadow duration-300 cursor-pointer"
                        onclick="redirectToAssetView('<%= asset.symbol %>')"
                    >
                        <div>
                            <div class="flex items-center space-x-4">
                                <div>
                                    <h3 class="text-lg font-semibold text-gray-800"><%= asset.asset.name %> (<%= asset.symbol %>)</h3>
                                </div>
                                <img src="<%= asset.asset.symbolUrl %>" alt="BTC Logo" class="w-8 h-8 rounded-full" />
                            </div>
                            <p class="text-gray-600 text-sm">Price: <%= asset.price.lastPrice %></p>

                            <button class="mt-2 px-3 py-1 bg-red-500  text-white text-sm rounded hover:bg-red-600">
                                Remove from Watchlist
                            </button>
                        </div>
                        <div class="flex">
                            <div class="pulsating-indicator <%= asset.price.isNegative ? 'red' : '' %>"></div>

                            <p class="<%= asset.price.isNegative ? 'text-red-500' : 'text-green-500' %> font-bold text-lg flex items-center">

                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6 mr-1"
                                    viewBox="0 0 16 16">
                                    <% if (!asset.price.isNegative ) { %>
                                        <path fill-rule="evenodd"
                                            d="M8 12a.5.5 0 0 1-.5-.5V4.707L5.354 6.854a.5.5 0 0 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 4.707V11.5a.5.5 0 0 1-.5.5z" />
                                    <% } else { %>
                                        <path fill-rule="evenodd"
                                            d="M8 4a.5.5 0 0 1 .5.5v6.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 11.293V4.5a.5.5 0 0 1 .5-.5z" />
                                    <% } %>
                                </svg>
                                <%= asset.price.percentChange %>% (<%= asset.price.change %>)
                            </p>
                        </div>
                    </div>
                <% }) %>

            </div>
        </section>

        <!-- Biggest Movers -->
        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">Biggest Movers</h2>
            <div class="grid grid-cols-2 gap-6">
                <!-- Biggest Gainers -->
                <div>
                    <h3 class="text-lg font-semibold text-green-600 mb-2">Biggest Gainers</h3>
                    <div class="grid grid-cols-2 gap-2">
                        <% biggestGainers.forEach(asset=> { %>
                            <div
                                class="bg-white shadow-lg rounded-lg p-4 flex justify-between items-center border-l-4 border-green-500">
                                <div>
                                    <h4 class="text-gray-800 font-medium">
                                        <%= asset.symbol %>
                                    </h4>
                                    <p class="text-green-600 font-bold"><%= asset.percentChange %>% ($<%= asset.change %>)</p>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
        
                <!-- Biggest Losers -->
                <div>
                    <h3 class="text-lg font-semibold text-red-600 mb-2">Biggest Losers</h3>
                    <div class="grid grid-cols-2 gap-2">
                        <% biggestLosers.forEach(asset=> { %>
                            <div
                                class="bg-white shadow-lg rounded-lg p-4 flex justify-between items-center border-l-4 border-red-500">
                                <div>
                                    <h4 class="text-gray-800 font-medium">
                                        <%= asset.symbol %>
                                    </h4>
                                    <p class="text-red-600 font-bold">
                                        <%= asset.percentChange %>% (<%= asset.change %>)
                                    </p>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Available Assets Section -->
        <section>
            <h2 class="text-2xl font-semibold text-gray-700 mb-4">Available Assets</h2>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                <% availableAssets.forEach(asset=> { %>
                    <div class="bg-white hover:shadow-xl shadow-md transition-shadow duration-300 cursor-pointer rounded-lg p-2" onclick="redirectToAssetView('<%= asset.symbol %>')">
                        <div class="flex items-center space-x-4">
                            <div>
                                <h3 class="text-lg font-semibold text-gray-800">
                                    <%= asset.name %> (<%= asset.symbol %>)
                                </h3>
                            </div>
                            <img src="<%= asset.symbolUrl %>" alt="BTC Logo" class="w-5 h-5 rounded-full" />
                        </div>
                        <button class="mt-2 px-3 py-1 bg-blue-500 text-white text-sm rounded hover:bg-blue-600">
                            Add to Watchlist
                        </button>
                    </div>
                <% }) %>
            </div>
        </div>

        </section>
    </div>

    <script>
        function redirectToAssetView(symbol) {
            window.location.href = `/AssetView/${symbol}`;
        }

        async function addToWatchlist(symbol, userId = '123-xyz') {
            await fetch('localhost:9926/watched', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ userId, symbol })
            });

        }

        function removeFromWatchlist() {
            window.location.href = '/watchlist';
        }
    </script>

    <style>
        .pulsating-indicator {
            width: 8px;
            height: 8px;
            background-color: #16a34a;
            border-radius: 50%;
            animation: pulse 1.5s infinite;
            margin-top: 0.6rem;
            margin-right: 0.5rem;
        }

        .pulsating-indicator.red {
            background-color: #dc2626; 
        }
    
        @keyframes pulse {
            0% {
                transform: scale(1);
                opacity: 1;
            }
    
            50% {
                transform: scale(1.5);
                opacity: 0.5;
            }
    
            100% {
                transform: scale(1);
                opacity: 1;
            }
        }
    </style>

</body>
</html>
